@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --color-brand-red: #9e001c;
    --color-brand-dark-red: #6e0012;
    --color-brand-gray: #f7f7f7;
    --color-brand-dark: #121212;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-serif);
    }
}

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}
